*{
    margin: 0;
    padding: 0;
}

body{
    min-height:200vh;
    margin-top: 3rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    height: 3rem;
}

.menu {
   
    display: flex;
    list-style: none;
    
}

a{
    display: inline-block;
    color: white;
}

li{
    margin-right: 1rem;
    padding: 1rem;
}

a[href^="#section"]{
    text-decoration: none;
}

:target{
    padding-top: 3rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}

main{
    grid-column: 1/span 3;
}

/*position fixed su referencia es el viewport*/
.sidebar{
    position: fixed;
    width: 100%;
    background-color: tomato;
    height: 400px;
    top: 4rem;
}